<a href="https://colab.research.google.com/github/IshantWadhwa4/Machine_Learning/blob/master/Supervisedlearning/ImportantFeatures/RandomForest_importantFeatures_sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Get important features

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('https://raw.githubusercontent.com/insaid2018/CDF-Certification-Quiz-Data/master/Bank1/02-Data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
ID                    5000 non-null int64
Age                   5000 non-null int64
Experience            5000 non-null int64
Income                5000 non-null int64
Family                5000 non-null int64
CCAvg                 5000 non-null float64
Education             5000 non-null int64
Mortgage              5000 non-null int64
Personal Loan         5000 non-null int64
Securities Account    5000 non-null int64
CD Account            5000 non-null int64
Online                5000 non-null int64
CreditCard            5000 non-null int64
dtypes: float64(1), int64(12)
memory usage: 507.9 KB

In [5]:
data.head()

   ID  Age  Experience  ...  CD Account  Online  CreditCard
0   1   25           1  ...           0       0           0
1   2   45          19  ...           0       0           0
2   3   39          15  ...           0       0           0
3   4   35           9  ...           0       0           0
4   5   35           8  ...           0       0           1

[5 rows x 13 columns]

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
X = data.drop('CreditCard',axis=1)

In [0]:
y = data['CreditCard']

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 2018,test_size=0.30)

In [30]:
rfc = RandomForestClassifier(random_state=0)
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [15]:
from sklearn.metrics import r2_score
from rfpimp import permutation_importances

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)

In [0]:
def r2(rf, X_train, y_train):
    return r2_score(y_train, rf.predict(X_train))

In [0]:
perm_imp_rfpimp = permutation_importances(rfc, X_train, y_train, r2)

In [18]:
perm_imp_rfpimp

                    Importance
Feature
Income                0.645358
ID                    0.633053
CCAvg                 0.615278
Age                   0.516833
CD Account            0.438898
Experience            0.432062
Family                0.307639
Online                0.284395
Education             0.244744
Mortgage              0.244744
Securities Account    0.187318
Personal Loan         0.118954

In [31]:
rfc.feature_importances_

array([0.19123981, 0.11697394, 0.12205348, 0.16121413, 0.04614294,
       0.12462046, 0.03531866, 0.07445006, 0.00912767, 0.01537402,
       0.07630591, 0.02717892])

In [0]:
importances = list(zip(rfc.feature_importances_, data.columns))
importances.sort(reverse=True)

In [33]:
importances

[(0.19123980971990054, 'ID'),
 (0.16121413032219448, 'Income'),
 (0.12462046348664974, 'CCAvg'),
 (0.12205347948577792, 'Experience'),
 (0.11697393812034161, 'Age'),
 (0.07630590921916322, 'CD Account'),
 (0.0744500645046501, 'Mortgage'),
 (0.046142939737571005, 'Family'),
 (0.035318662512966746, 'Education'),
 (0.027178920907374286, 'Online'),
 (0.015374015268972759, 'Securities Account'),
 (0.009127666714437696, 'Personal Loan')]

## Precision recall curve

In [0]:
import sklearn.metrics

In [0]:
precision, recall, thresholds = sklearn.metrics.precision_recall_curve(y_test, rfc.predict(X_test), pos_label=1, sample_weight=None)

In [42]:
recall

array([1.        , 0.20379147, 0.        ])